# Copie para .dev.vars (uso local com `npx wrangler dev`). Não versionar.
PAINEL_KEY=ZF8kxD5w2d1dg1WTyqW6xJAU3Fp8si8Vy5ZM
META_TOKEN=EAAPO7UrkG6oBSp8oagxNS4tprsFbh2sbMkGbpzHnvrkRYdGIcPOl0tqPyE6D6qIPS7NN3RICo2JIeUylenImP9PyPjx4p1LAOykO1GN8kDUiKCadnhLyfsulzrQEyZBC4Dv4tKJxsQGZC8TPyq3dxN35ZBhZAA2VPSinv5JHXduq3zqVOVcWhtGeExdgD2ZATBhYYQKrb7z361dD1rR5A0md9Ne3Qc8mmR4fovgTAZCFwdlBv8Pq7YoDv4t5tBh1DQh9bbi7rowZAH7vz7LZC35wv8ZAI
